<h1>Listing races</h1>

<table>
  <tr>
    <th>Race no</th>
    <th>Race name</th>
    <th>Race time</th>
    <th>Course no</th>
    <th>Meeting</th>
    <th>Year</th>
    <th>Day</th>
    <th>Distance</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @races.each do |race| %>
  <tr>
    <td><%= race.race_no %></td>
    <td><%= race.race_name %></td>
    <td><%= race.race_time %></td>
    <td><%= race.course_no %></td>
    <td><%= race.meeting %></td>
    <td><%= race.year %></td>
    <td><%= race.day %></td>
    <td><%= race.distance %></td>
    <td><%= link_to 'Show', race %></td>
    <td><%= link_to 'Edit', edit_race_path(race) %></td>
    <td><%= link_to 'Destroy', race, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Race', new_race_path %>
