<h1>買い目</h1>

<table>
  <tr>
<%#
    <th>Race no</th>
%>
    <th>ユーザー名</th>
    <th>馬券の種類</th>
    <th>1着</th>
    <th>2着</th>
    <th>3着</th>
    <th>金額</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @bets.each do |bet| %>
  <tr>
    <td><%= bet.race_no %></td>
    <td><%= bet.user_name %></td>
    <td><%= bet.type %></td>
    <td><%= bet.first_horse_no %></td>
    <td><%= bet.second_horse_no %></td>
    <td><%= bet.third_horse_no %></td>
    <td><%= bet.amount %></td>
    <td><%= link_to 'Show', bet %></td>
    <td><%= link_to 'Edit', edit_bet_path(bet) %></td>
    <td><%= link_to 'Destroy', bet, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Bet', new_bet_path %>
